a:link {
    color: red;
}

a:visited {
    color: purple;
}

a:hover {
    color: grey;
}

a:active {
    color: green;
}

/* p.start::before {
    content: "Read this -- ";
}

p.end::after {
    content: " -- More to come";
} */

p[class = start]::before {
    content: "Read this -- ";
}

p[class = "end"]::after {
    content: " -- More to come";
}